k8s_admin_username  = "login"
k8s_admin_password  = "password"
k8s_service_cidr    = "10.55.240.0/20"
k8s_pod_cidr        = "10.52.0.0/14"
openvpn_common_name           = "vpn.some.domain"
openvpn_file_private_key      = "/some/path/private/vpn.some.domain.key"
openvpn_file_ca_crt           = "/some/path/ca.crt"
openvpn_file_certificate_crt  = "/some/path/issued/vpn.some.domain.crt"
openvpn_file_dh_pem           = "/some/path/dh.pem"
openvpn_file_ta_key           = "/some/path/ta.key"
