k8s_admin_username  = "login"
k8s_admin_password  = "password"
k8s_service_cidr    = "10.55.240.0/20"
k8s_pod_cidr        = "10.52.0.0/14"
openvpn_cn          = "vpn.some.domain"
openvpn_files       = "/some/path/"
