k8s_admin_username  = "login"
k8s_admin_password  = "password"
openvpn_cn          = "vpn.some.domain"
openvpn_files       = "/some/path/"
project             = "gce4vpn"
google_billing_id   = "some-id"
